<br><br><br>
<div class="container">
    <div class="content">
        <div class="form">
            <form class="homes-form" id="homes-form">
                <p id="status">{{status}}</p>
                <!-- <input type="text" placeholder="name"/> -->
                <input type="text" [(ngModel)]="hno" name="hno" placeholder="House no."/>
                <input type="text" [(ngModel)]="owner" name="owner" placeholder="Owner Name"/>

                <select [(ngModel)]="colony" name="colony">
                    <option value="" disabled selected>Select Colony</option>
                    <option [ngValue]="c" *ngFor="let c of colonies">{{c.name}}</option>
                </select>

                <select [(ngModel)]="wing" name="wing">
                    <option value="" disabled selected>Select Wing</option>
                    <option [ngValue]="w" *ngFor="let w of colony.wings">{{w}}</option>
                </select>

                <input type="text" [(ngModel)]="floor" name="floor" placeholder="Floor No."/>
                <input type="text" [(ngModel)]="size" name="size" placeholder="Select Size (BHK)"/>
                <input type="text" [(ngModel)]="contact" name="contact" placeholder="Contact Info"/>
                <button (click)="addHome()">Add Home</button>
            </form>
        </div>
    </div>
</div>