<div class="login-page">
    <h3>signup</h3>
    <div class="form">
        <p id="status">{{status}}</p>
        <form>
            <input type="text" [(ngModel)]="name" name="name" placeholder="Enter your name"/>
            <input type="text" [(ngModel)]="username" name="username" placeholder="Pick a username"/>
            <input type="text" [(ngModel)]="email" name="email" placeholder="Enter your email"/>
            <input type="password"  [(ngModel)]="password" name="password" placeholder="Pick a password"/>
            <button id="signup-btn" (click)="onSubmit()">create</button>
            <p class="message">Already registered? <a [routerLink]="['/login']">Sign In</a></p>
        </form>
    </div>
</div>