<section class="section section-dark">
	<h2>About</h2>
	<p>
		This Web App was built using MEAN Stack as part of Open-ended activity for the course Web Technologies at SoCSE, KLE Technological University. 
	</p>
	<div id="logos">
		<img src="assets/ts.png"  width="60" height="60" alt="typescript-logo">
		<img src="assets/node-512.webp" width="60" height="60" alt="nodejs-logo">
		<img src="assets/mongo.png" width="80" height="80"  alt="mongodb-logo">
		<img src="assets/angular.png" width="80" height="80"  alt="angular-logo">
		<img src="assets/html.webp" width="80" height="80"  alt="html-logo">
		<img src="assets/css.webp" width="80" height="80"  alt="css-logo">
		<img src="assets/js.png" width="60" height="60"  alt="js-logo">
	</div>
	<div id="abt">
		<h5 style="font-weight: bold;">Team Members</h5>
		<p>Gourav J - 01FE17BCS246</p>
		<p>Akash Tomar - 01FE17BCS021</p>
		<p>Akshata - 01FE17BCS024</p>
		<p>Akshaykumar Gunari - 01FE17BCS026</p>
        <p>© 2020</p>
    </div>
</section>