<div class="login-page">
    <h3>login</h3>
    <div class="form">
        <p id="status">{{status}}</p>
        <form>
            <input type="text" [(ngModel)]="username" name="username" placeholder="username"/>
            <input type="password" [(ngModel)]="password" name="password" placeholder="password"/>
            <button id="login-btn" (click)="onSubmit()">login</button>
            <p class="message">Not registered? <a [routerLink]="['/register']">Create an account</a></p>
        </form>
</div>