<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
		body{
			background-image:url("assets/a.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}
		.main {
			padding: 16px;
			background-color: tomato;
			border-radius: 50px 50px 50px 50px;
			box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
			margin-top: 30px;
			height: 500px;
		}
		</style>
	</head>
	<body>
		
		<div style="padding-top: 100px;" class="container">
			<div class="content" style="display: flex; flex-direction: column; justify-content: center;">
				<div style="background-color:lightblue" opacity = "0.5">
					<p align="center" style = "font-size: 40px; color: red; font-weight: bold;
					">COLONY - DB !!!!!TO BE CHANGED!!!!!</p>
				</div>
				<div style="background-color:gray">
					<p align="center" style = "font-size: 50px; color: white;" >Buy, Sell And Rent Your Dream Property </p>
				</div>
				<div class="main">
					<p align="justify" style = "color:white; font-size: 20px">Finding the perfect home is not easy, as pioneers of real estate website on the internet, we have the solution!</p>
					<h2 style="color: white;">We guarantee that everything you need for the perfect home is just a few scrolls down!</h2>
					<br>
					<p align="justify" style = "font-size: 20px; color: white;">ColonyDB is here to make your journey to a new home, simple and memorable. So we decided to bring you a platform which allows you to browse through hundreds of property .You can now do a quick and convenient search for apartments, commercial properties, land-plots and other real estate properties . Now buying and renting comes with the freedom of ease and comfort. This preeminent real estate website  established for the sole purpose of bringing together buyers and sellers of properties on a common platform and facilitate transactions between them. It is a marketplace where buyers and sellers of 1,2,3 BHK flats for sale .
					People can perform a search for luxury houses  as well as budget houses as per their budgetary constraints.</p>
				</div>
				<div>
					<h1 align="right">By</h1>
					<h2 align = "right">Gourav Jamakhandi</h2>
					<h2 align = "right">Akshaykumar Gunari</h2>
					<h2 align = "right">Akshata Patil</h2>
				</div>
			</div>
		</div>
	</body>
</html>