<div class="pimg1">
    <div class="color-overlay"></div>
	<div class="ptext">
		<span class="border">
			Software Solutions for apartments
		</span>
	</div>
</div>

<section class="section section-light">
	<h3>
		The perfect solution for apartment management. It helps you to manage data of your complex all from a single place!
		Reduce your efforts being spent to manage the complex. ColonyDB consists of data pertaining to residents of an apartment which is helpful for use by managers and onsite security officials.
	</h3>
</section>

<div class="pimg4">
	<div class="ptext">
		<span class="border">
			TEAM A1
		</span>
	</div>
</div>

